body{
    background-color: #f5f0ea;
}

.cabecalho-servico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
}

.pesquisar-servico {
    width: 100%;
}

.input-servico {
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    max-width: 400px;
    width: 100%;
}

.sessao-servicos {
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
}

.btn-agendamento {
    padding: 10px 12px;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: bold;
    background-color: #000000;
    color: white;
    text-decoration: none;
}

.sessao-card-servico{
    min-height: 100vh;
}

.card-servico {
    width: 100%;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 8px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-servico figcaption {
    padding: 20px; 
    flex-grow: 1; 
}

.card-footer {
    text-align: center; 
    padding: 0px 12px;
    margin-bottom: 12px;
}

.card-footer button{
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: #7b5f2d;
    border: none;
    color: white;
}

.card-servico:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-servico img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}


.card-servico h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card-servico p {
    font-size: 0.90rem;
    color: #202020;
}
