.card-servico {
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transform: translateY(0); 
    cursor: pointer;
    border-radius: 16px;
}

.card-servico>img{
    border-radius: 24px;
}

.card-servico:hover {
    transform: translateY(-4px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); 
}

.nav-item {
    margin-bottom: 5px;
}

.nav-link {
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
}

.active {
    background: linear-gradient(90deg, rgba(48, 48, 48, 0.2) 0%, rgba(52, 58, 64, 0) 100%);
    border-left: 4px solid #d4af37 !important; 
    color: #ffffff !important;
    padding: 10px 16px;
    border-radius: 0 10px 10px 0; 
    font-weight: 600;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-link:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    padding-left: 20px; 
}