.card-servico {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: translateY(0); 
    cursor: pointer;
    border-radius: 16px;
}

.card-servico>img{
    border-radius: 24px;
}

.card-servico:hover {
    transform: translateY(-2px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); 
}